*{
    margin: 0px;
    padding: 0px;
    font-family: Balsamiq Sans;
}
.profile{
    color: white;
    margin-left: 300px;
    margin-top: 10px;
}
.nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.nav li{
    display: inline-block;
    margin: 20px;
    
}
.nav ul{
    margin-right: 700px;
}
.nav li a{
    color: white;
    list-style-type: none;
    text-decoration:none;
}
.btn{
    margin-right: 300px;
    margin-top: 10px;
    width: 70px;
    height: 35px;
    background-color: blue;
    color: white;
}
#container{
    
    height: 1080px;
    display: flex;
    
}
.info{
    
    width: 500px;
    height: 250px;
    border-top: 100px solid teal;
    margin: 60px 0px 0px 300px;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}
.propic{
    width: 100px;
    position: absolute;
    bottom: 750px;
    left: 330px;
}
#name{
    margin: 60px 0px 0px 25px;
}
.location{
    margin-left: 10px;
}
.marker{
    width: 15px;
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 10px;
}
.desc{
    margin:10px;
    margin-left: 25px;
}
.gear{
    width: 20px;
    position:absolute;
    bottom: 565px;
    left: 320px;
    top: 435px;
    
}
.edit{
    position: absolute;
    bottom: 550px;
    left: 360px;
    border: none;
    background-color: white;
}

#education{
    
    width: 500px;
    height: 200px;
    margin: 40px;
    margin-left: 300px;
    border: 2px solid grey;
}
.edu{
    background-color: grey;
    color:white;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px
}
#education h2,p{
    font-size: 23px;
    margin: 20px;
}
#education p{
    color:grey;
}
.connections{
    width: 500px;
    height:300px;
    margin-top: 60px;
    border: 2px solid grey;
}
.topbar{
    display: flex;
    background-color: grey;
    padding: 20px;
}
.title{
    font-size: 20px;
    position: absolute;
    right: 700px;
    color: white;
}
.btn1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 950px;
    border: none;
}
.tod img{
    width: 50px;
    height: 50px;
}
.tod{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.tod p{
    margin-right: 190px;
}

.btn2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 960px;
    border: none;
}

.connections2{
    
    width: 500px;
    height:500px;
    margin-top: 60px;
    border: 2px solid grey;
}
.connections2 .topbar{
    display: flex;
    background-color: grey;
    padding: 30px;
}
h3{
    
    margin-top: 50px;
    margin-left: 20px;
}
